@{
    ViewData["Title"] = "Home Page";
}

@foreach(var section in model.Sections){
    <div class="tile-section">
        <h2 class="section-title">FISZKI</h2>
        <div class="tiles">
            @foreach (var tile in Model)
            {
                <a href="@tile.Url" class="tile">
                    @tile.Title
                </a>
            }
        </div>
    </div>

}
